body{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    /* max-width: 100px; */
    /* background-color: bisque; */
    color: brown;

}
.main{
    background-color: antiquewhite;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    margin: 15px;
    border: 2px solid brown;
    border-radius: 50px;
    /* width: 50%; */
    padding: 15px;
    text-align: center;
    
}
.input{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
    max-height: 100px;
    /* width: 100%;  */
    /* min-width: 50px; */
    

}
.operators{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border: 3px solid red; */
    min-width: 200px;
    margin-top: 20px;
} 
button{
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    /* background-color: green;
    color: white; */
    cursor: pointer;
    background-color: bisque;
}
input{
    background-color: bisque;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    height: 45px;
}
.answer{
    margin: 10px;
    font-size: 30px;
    text-align: center;
    /* border: 3px solid blue; */
}
input:hover{
    background-color: brown;
}
button:hover{
    background-color: brown;
}